<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.denny.mapper.UserMapper">
    <select id="findAll"  resultType="com.denny.model.User">
        SELECT * FROM t_user;
    </select>

    <select id="selectModel" resultType="com.denny.model.User">
        SELECT  * FROM t_user
        <where>
            <if test="name != null">
                user_name=#{name}
            </if>
            <if test='phone == "41531251"'>
               AND phone=#{phone}
            </if>
        </where>
    </select>

</mapper>

